@using RippedAndFit.Domain.Entities
@using RippedAndFit.Domain.Enums;

@{
    ViewData["Title"] = "Members";
}

@model RippedAndFit.Web.Models.MembersModel;

<div>
    <div>
        <h1>
            Members
        </h1>
        <div class="member-table">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        if(user.Role == Roles.Member)
                        {
                            MemberDetails? member = Model.MemberDetails.FirstOrDefault(s => s.MemberId == user.Id);

                            if(member != null)
                            {
                                <tr>
                                    <td>@user.Id</td>
                                    <td>@member.FirstName @member.LastName</td>
                                    <td>@member.Email</td>
                                    <td>@member.MemberType</td>
                                    <td>@member.MembershipStatus</td>
                                    <td>
                                        <div role="group">
                                            <a asp-controller="Administration" asp-action="UpdateMember" asp-route-memberId="@user.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                            <a asp-route-memberId="@user.Id"><i class="bi bi-trash"></i>Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>