@using RippedAndFit.Domain.Entities
@using RippedAndFit.Domain.Enums;

@{
    ViewData["Title"] = "Members";
}

@model RippedAndFit.Web.Models.MemberListModel;

<div>
    <div>
        <h1>
            Members
        </h1>
        <div class="member-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Membership Date</th>
                        <th>Membership Expiration</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        if(user.Role == Roles.Member)
                        {
                            MemberDetails? memberDetails = Model.MemberDetails.FirstOrDefault(s => s.MemberId == user.Id);

                            if(memberDetails != null)
                            {
                                <tr>
                                    <td>@memberDetails.Id</td>
                                    <td>@memberDetails.FirstName @memberDetails.LastName</td>
                                    <td>@memberDetails.Email</td>
                                    <td>@memberDetails.MemberType</td>
                                    <td>@memberDetails.MembershipDate</td>
                                    <td>@memberDetails.MembershipExpiration</td>
                                    <td>@memberDetails.MembershipStatus</td>
                                    <td>
                                        <div role="group">
                                            <a asp-controller="Administration" asp-action="UpdateMember" asp-route-memberId="@user.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                            <a href="javascript:void(0)" onclick="confirmDelete('@Url.Action("DeleteMember", "Administration", new { memberId = user.Id })')">
                                                <i class="bi bi-trash"></i>Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>